<style>

body {
  margin:           6px 12px;
  display:          block;
  background-color: #ccc;
}

</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gab.ai API Example</title>
    <meta charset="utf-8">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="../icon.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>
    <pre><%- data %></pre>
    <pre><%= data %></pre>
  </body>
</html>

<script>

</script>
