<style>

body{
  margin:           4px;
  display:          block;
  background-color: #ccc;
}

</style>

<!DOCTYPE html>
<html>
  <head>
    <title>Gab.ai API Example</title>
    <meta>
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="../icon.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>
    <pre id="example"><%= data %></pre>
  </body>
</html>

<script>
$.post("query", function(data){
  data = JSON.parse(data);
  data = JSON.stringify(data, undefined, 2);
  $("#example").text(data);
});
</script>
